.about-us {
  padding-top: 17px;
  background-color: $basicBlue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url("../img/traveller-illustration-mobile@1x.png"),
    url("../img/globe-back-mobile@1x.png");
  background-position: calc(50% + 16px) 149px, 50% -72px;
  background-repeat: no-repeat, no-repeat;
  background-size: 192px 255px, 100% 569px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/traveller-illustration-mobile@2x.png"),
      url("../img/globe-back-mobile@2x.png");
  }

  @media (min-width: $tablet) {
    padding-top: 25px;
    background-color: $basicBlue2;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-image: url("../img/traveller-illustration-tablet@1x.png"),
      url("../img/globe-back-tablet@1x.png");
    background-position: calc(50% + 88px) 272px, 50% 218px;
    background-size: 372px 451px, 100% 612px;
  }

  @media (min-width: $tablet) and (min-resolution: 144dpi),
    (min-width: $tablet) and (min-resolution: 1.5dppx) {
    background-image: url("../img/traveller-illustration-tablet@2x.png"),
      url("../img/globe-back-tablet@2x.png");
  }

  @media (min-width: $desktop) {
    padding-top: 70px;
    background-image: url("../img/traveller-illustration-desktop@1x.png"),
      url("../img/globe-back-desktop@1x.png");
    background-position: calc(50% + 100px) -22px, 50% -132px;
    background-size: 431px 640px, 100% 750px;
  }

  @media (min-width: $desktop) and (min-resolution: 144dpi),
    (min-width: $desktop) and (min-resolution: 1.5dppx) {
    background-image: url("../img/traveller-illustration-desktop@2x.png"),
      url("../img/globe-back-desktop@2x.png");
  }
}

.about-us__flex-container {
  @media (min-width: $desktop) {
    margin: 0 auto;
    width: 1320px;
    display: flex;
    justify-content: space-between;
  }
}

.about-us__heading {
  margin: 0 auto;
  margin-bottom: 265px;
  width: 238px;
  color: $white;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 88px;
    width: 399px;
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    margin-left: 67px;
    margin-bottom: 101px;
    width: 420px;
    text-align: left;
  }
}

.about-us__auth-list {
  position: absolute;
  top: 457px;
  left: 26px;
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $tablet) {
    display: none;
  }
}

.about-us__phone,
.about-us__email {
  display: block;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.about-us__phone {
  background-color: $orange;

  &::before {
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-call-darkblue.svg");
    background-position: 48% 48%;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background-color: $orangeDark;
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.about-us__email {
  background-color: $yellowDark;

  &::before {
    content: "";
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-image: url("../img/icon-mail-darkblue.svg");
    background-position: 51% 52%;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background-color: $orange;
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }
}

.about-us__login {
  display: block;
  padding: 10px 0;
  color: $basicBlue;
  background-color: $yellow;
  width: 190px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $yellowDark;
  }

  &:active {
    color: $basicBlueTransparent03;
  }
}

.about-us__review {
  background-color: $basicBlue;

  @media (min-width: $tablet) {
    background-color: transparent;
  }

  @media (min-width: $desktop) {
    width: 310px;
  }
}

.about-us__review .container {
  @media (min-width: $desktop) {
    margin: 0;
    padding: 0;
    min-width: fit-content;
    width: 310px;
  }
}

.about-us__quote {
  margin: 0;
  padding: 48px 0 29px 25px;
  width: 200px;
  color: $white;
  font-weight: 300;
  line-height: 22px;

  @media (min-width: $tablet) {
    padding: 0 0 211px 32px;
    width: 310px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop) {
    padding: 15px 0 0 24px;
    line-height: 32px;
  }
}

.about-us__quote-text {
  padding-right: 10px;
  margin: 0;
}

.about-us__cite {
  margin-top: 17px;
  display: block;
  font-weight: 700;
  font-style: normal;
  line-height: 22px;

  @media (min-width: $tablet) {
    margin-top: 46px;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $tablet) {
    line-height: 24px;
  }
}

.about-us__cite span {
  display: inherit;
}

.about-us__info {
  padding-top: 3px;
  background-image: linear-gradient(to bottom, $basicBlue 23%, $blueDark2 23%);

  @media (min-width: $tablet) {
    padding-top: 4px;
    background-image: none;
  }

  @media (min-width: $desktop) {
    padding-top: 7px;
  }
}

.about-us__promo-list {
  padding-bottom: 35px;
  counter-reset: myCounter;

  @media (min-width: $tablet) {
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  @media (min-width: $desktop) {
    padding-bottom: 123px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: none;
  }
}

.about-us__promo-item {
  padding-top: 20px;
  padding-left: 22px;
  position: relative;
  display: block;
  height: 90px;
  color: $basicBlue;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  &::after {
    content: counter(myCounter);
    counter-increment: myCounter;
    position: absolute;
    right: 21px;
    top: 20px;
    display: block;
    font-weight: 700;
    color: $white;
  }

  &:nth-child(1) {
    background-color: $orange;
    border-radius: 10px 10px 0 0;
  }

  &:nth-child(2) {
    margin-top: -10px;
    background-color: $orangeLight;
    border-radius: 10px 10px 0 0;
  }

  &:nth-child(3) {
    margin-top: -10px;
    background-color: $yellowDark;
    border-radius: 10px 10px 0 0;
  }

  &:nth-child(4) {
    margin-top: -10px;
    height: 80px;
    background-color: $yellow;
    border-radius: 10px;
  }

  @media (min-width: $tablet) {
    padding-top: 30px;
    padding-left: 33px;
    height: 140px;
    font-size: 24px;
    line-height: 24px;

    &::after {
      right: auto;
      top: 85px;
      font-size: 30px;
      line-height: 30px;
    }

    &:nth-child(1) {
      margin-right: -15px;
      border-radius: 20px 0 0 0;
    }

    &:nth-child(2) {
      margin-top: 0;
      border-radius: 20px 20px 0 0;
    }

    &:nth-child(3) {
      margin-top: 0;
      margin-right: -15px;
      border-radius: 0 0 0 20px;
    }

    &:nth-child(4) {
      margin-top: 0;
      height: 140px;
      border-radius: 0 0 20px 20px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 27px;
    padding-left: 32px;
    height: 107px;

    &::after {
      right: 62px;
      top: 28px;
      font-size: 24px;
      line-height: 24px;
    }

    &:nth-child(1) {
      margin-right: 0;
      width: 345px;
      border-radius: 15px 0 0 15px;
    }

    &:nth-child(2) {
      margin-right: 0;
      margin-left: -30px;
      width: 375px;
      border-radius: 15px 0 0 15px;
    }

    &:nth-child(3) {
      margin-right: 0;
      margin-left: -30px;
      width: 375px;
      border-radius: 15px 0 0 15px;
    }

    &:nth-child(4) {
      margin-left: -30px;
      width: 315px;
      height: 107px;
      border-radius: 15px 15px 15px 15px;

      &::after {
        right: 32px;
      }
    }
  }
}

.about-us__service {
  background-color: $blueDark2;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.about-us__service-wrapper {
  padding-top: 35px;
  padding-bottom: 62px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-image: url("../img/about-mobile@1x.png"),
    url("../img/icon-rectangle-mobile.svg");
  background-position: center 5px, -10px 5px;
  background-repeat: no-repeat, no-repeat;
  background-size: 292px 353px, 132px 132px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/about-mobile@2x.png"),
      url("../img/icon-rectangle-mobile.svg");
  }

  @media (min-width: $tablet) {
    padding-top: 41px;
    padding-bottom: 89px;
    background-image: url("../img/about-tablet@1x.png"),
      url("../img/icon-rectangle-tablet.svg");
    background-position: 98% 48px, 40px 0;
    background-size: 376px 548px, 688px 212px;
  }

  @media (min-width: $tablet) and (min-resolution: 144dpi),
    (min-width: $tablet) and (min-resolution: 1.5dppx) {
    background-image: url("../img/about-tablet@2x.png"),
      url("../img/icon-rectangle-tablet.svg");
  }

  @media (min-width: $desktop) {
    padding-top: 132px;
    padding-bottom: 163px;
    background-image: url("../img/about-desktop@1x.png"),
      url("../img/icon-rectangle-blue-desktop.svg");
    background-position: 750px 100%, 60px 70px;
    background-size: 630px 665px, 212px 212px;
  }

  @media (min-width: $desktop) and (min-resolution: 144dpi),
    (min-width: $desktop) and (min-resolution: 1.5dppx) {
    background-image: url("../img/about-desktop@2x.png"),
      url("../img/icon-rectangle-blue-desktop.svg");
  }
}

.about-us__service-info {
  margin-left: 25px;
  padding-right: 30px;

  @media (min-width: $tablet) {
    margin-left: 34px;
    padding-right: 336px;
  }

  @media (min-width: $desktop) {
    margin-left: 70px;
    padding-right: 630px;
  }
}

.about-us__info-heading {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $orange;

  @media (min-width: $tablet) {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.about-us__info-paragraph-one {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
  line-height: 22px;
  color: $white;

  @media (min-width: $tablet) {
    margin-bottom: 31px;
    padding-right: 18px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 38px;
    padding-right: 0;
    line-height: 34px;
  }
}

.about-us__info-paragraph-one span:nth-child(1) {
  display: block;

  @media (min-width: 400px) {
    display: inline;
  }
}

.about-us__info-paragraph-one span:nth-child(2) {
  display: inline;

  @media (min-width: $tablet) {
    display: block;
  }

  @media (min-width: $desktop) {
    display: inline;
  }
}

.about-us__info-paragraph-two {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 22px;
  color: $white;

  @media (min-width: $tablet) {
    margin-bottom: 52px;
    padding-right: 30px;
    font-size: 21px;
    line-height: 25px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 85px;
    padding-right: 190px;
    line-height: 24px;
  }
}

.about-us__button {
  display: none;
  position: relative;
  padding-top: 29px;
  padding-left: 32px;
  width: 276px;
  height: 80px;
  background-color: $yellow;
  border-radius: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $blueLight;

  &::after {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    position: absolute;
    top: calc(50% - 6px);
    right: 35px;
    background-image: url("../img/icon-button-arrow-right-blue.svg");
    background-position: 50%;
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background-color: $yellowDark;
  }

  &:active {
    color: $blueLightFaded03;

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    display: block;
  }
}
