.add-plan {
  background-color: $blueLight4;
  position: relative;
  margin-top: -35px;
  padding-top: 30px;
  padding-bottom: 78px;
  border-radius: 30px 30px 0 0;

  @media (min-width: $tablet) {
    padding-top: 53px;
  }

  @media (min-width: $desktop) {
    margin-top: -65px;
    border-radius: 60px 60px 0 0;
  }
}

.add-plan__header {
  position: relative;
}

.add-plan__heading {
  margin: 0;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    padding-left: 69px;
    padding-bottom: 54px;
  }
}

.add-plan__slider-buttons-list {
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $desktop) {
    flex-direction: column;
    right: 200px;
    top: 190px;
  }
}

.add-plan__slider-buttons-item {
  margin-right: 16px;

  @media (min-width: $tablet) {
    margin-right: 29px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 0;

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }
}

.add-plan__slider-button {
  opacity: 0.3;
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.11em;
  text-transform: uppercase;
  cursor: pointer;

  &--active {
    opacity: 1;
    cursor: default;
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -6px;
    width: 6px;
    height: 6px;
    background-color: $blueLight;
    border-radius: 50%;
  }

  @media (min-width: $desktop) {
    &::before {
      top: calc(50% - 3px);
      left: -36px;
    }
  }
}

.add-plan__slider-button-text {
  @media (max-width: $desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
  }
}

.add-plan__wrapper {
  padding: 25px;
  background-color: $white;
  border-radius: 10px;

  @media (min-width: $tablet) {
    padding: 48px 40px 56px 40px;
    border-radius: 30px;
  }

  @media (min-width: $desktop) {
    padding: 101px 160px 106px 160px;
    border-radius: 60px;
  }
}

.add-plan__step {
  display: none;
}

.add-plan__step--show {
  display: block;
}

.add-plan__step-heading {
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.add-plan__step-heading span {
  display: block;

  @media (min-width: $desktop) {
    &:first-child {
      margin-right: 10px;
    }
  }
}

.add-plan__step-description {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $specialGrey;

  @media (min-width: $tablet) {
    margin-bottom: 38px;
    font-size: 20px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 55px;
    max-width: 585px;

    & span {
      display: block;
    }
  }
}

.add-plan__button-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.add-plan__button {
  position: relative;
  display: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: $blueLight;
  text-align: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 24px;
    text-transform: none;
  }
}

.add-plan__button-next-step,
.add-plan__button-submit {
  margin: 0;
  padding: 5px 0;
  border: none;
  border-radius: 20px;
  background-color: $yellow;
  width: 220px;
  height: 40px;

  &:hover,
  &:focus {
    background-color: $yellowDark;
  }

  &:active {
    color: fade-out($color: $blueLight, $amount: 0.7);

    &::before {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    padding-left: 33px;
    width: 286px;
    height: 80px;
    text-align: left;

    &::before {
      content: url("../img/icon-button-arrow-right-blue.svg");
      position: absolute;
      top: 28px;
      right: 37px;
    }
  }
}

.add-plan__button-next-step {
  @media (min-width: $tablet) {
    padding-top: 29px;
  }
}

.add-plan__button-previous-step {
  width: 120px;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    width: 185px;
    text-align: right;

    &::before {
      content: url("../img/icon-button-arrow-right-blue.svg");
      position: absolute;
      top: 2px;
      left: 0;
      transform: rotate(180deg);
    }
  }
}

.add-plan__button--show {
  display: block;
}
