.address-info {
  padding-top: 47px;
  padding-bottom: 35px;
  background-color: $yellow;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet) {
    padding-top: 70px;
    padding-bottom: 84px;
    border-radius: 0 0 60px 60px;
  }
}

.address-info__address {
  padding-left: 61px;
  margin-right: 65px;
  margin-bottom: 32px;
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  color: $blueLight;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    display: block;
    width: 45px;
    height: 45px;
    background-image: url("../../img/icon-map-mark.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width: $tablet) {
    padding-left: 94px;
    margin-bottom: 62px;
    font-size: 28px;
    line-height: 28px;

    &::before {
      top: -20px;
      width: 68px;
      height: 68px;
    }
  }
}

.address-info__button {
  padding-top: 18px;
  padding-left: 22px;
  display: block;
  height: 62px;
  position: relative;
  border: 3px solid $blueDark2;
  box-sizing: border-box;
  border-radius: 10px;
  color: $blueLight;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  &::after {
    content: "";
    position: absolute;
    right: 15px;
    top: calc(50% - 7px);
    display: block;
    width: 16px;
    height: 16px;
    background-image: url("../../img/icon-button-arrow-right-blue.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:focus {
    background-color: $blueDark2;
    color: $white;

    &::after {
      background-image: url("../../img/icon-button-arrow-right-white.svg");
    }
  }

  &:active {
    color: $whiteTransparent03;

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-left: 37px;
    height: 80px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;

    &::after {
      right: 35px;
    }
  }
}
