.children {
  border: none;
  padding: 0 0 28px 39px;
  margin: 0;

  @media (min-width: $tablet) {
    padding: 0 0 28px 39px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 22px;
  }
}

.children__checkbox {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: -38px;
    top: -6px;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  &::before {
    background-color: transparent;
    border: 1px solid $specialGrey4;
    border-radius: 4px;
  }

  &::after {
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover,
  &:focus {
    &::before {
      border: 1px solid $specialGrey11;
    }
  }

  &:active::before {
    border: 1px solid $specialGrey12;
    background-color: $specialGrey12;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.children__checkbox-input:checked + .children__checkbox::after {
  background-image: url("../img/icon-check-mark.svg");
}
