.children {
  border: none;
  padding: 0 0 28px 39px;
  margin: 0;
}

.children__checkbox {
  position: relative;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;

  &::before {
    position: absolute;
    left: -38px;
    top: -4px;
    display: inline-block;
    width: 26px;
    height: 26px;
    content: "";
    cursor: pointer;
    vertical-align: middle;
    background-color: transparent;
    border: 1px solid $specialGrey4;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.children__checkbox-input:checked + .children__checkbox::before {
  background-image: url("../img/icon-check-mark.svg");
}
