.companions-selection {
  padding-bottom: 98px;

  @media (min-width: $tablet) {
    padding-bottom: 72px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 86px;
  }
}

.companions-selection__item {
  position: relative;
  padding-top: 13px;
  padding-bottom: 23px;
  border-radius: 20px;
  background-color: $white;
  display: grid;
  grid-template-columns: 90px 80px auto;
  grid-template-rows: 43px 30px auto auto auto 40px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    transform: scale(1.01);
    z-index: 3;
    box-shadow: 0 4px 9px $blackShadow;
  }

  @media (min-width: $tablet) {
    padding: 31px 0 0 0;
    grid-template-columns: 225px 31px 150px 110px 1fr auto;
    grid-template-rows: 50px 95px 50px 1fr min-content;

    &:not(:last-child) {
      margin-bottom: 42px;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
    grid-template-columns: 285px 52px 150px 110px 1fr auto;
    grid-template-rows: 44px auto auto 50px 49px;

    &:not(:last-child) {
      margin-bottom: 31px;
    }
  }
}

.companions-selection__photo-link {
  display: block;
  margin-top: 2px;
  margin-left: 17px;
  box-sizing: border-box;
  border-radius: 50%;
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  @media (min-width: $tablet) {
    margin-left: 35px;
    border-radius: 20px;
    width: 190px;
    height: 190px;
    grid-row: 1 / 4;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-left: 0;
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
    grid-row: 1 / 6;
  }
}

.companions-selection__photo {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  @media (min-width: $tablet) {
    border-radius: 20px;
  }

  @media (min-width: $desktop) {
    border-radius: 20px 0 0 20px;
  }
}

.companions-selection__name-link {
  display: block;
  width: fit-content;
  height: fit-content;
  margin-left: 14px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  @media (min-width: $tablet) {
    margin-left: 0;
    grid-column: 3 / 5;
  }

  @media (min-width: $desktop) {
    margin-left: 8px;
    grid-row: 2 / 3;
    grid-column: 3 / 5;
  }
}

.companions-selection__name {
  margin: 0;
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: $basicBlue;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: $specialPink2;
  }

  @media (min-width: $tablet) {
    position: relative;
    font-size: 30px;
    line-height: 30px;

    &::after {
      top: 13px;
      right: -30px;
      width: 8px;
      height: 8px;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      top: 12px;
      left: -26px;
      right: auto;
    }
  }
}

.companions-selection__name--online::after {
  background-color: $specialGreen;
}

.companions-selection__like-button-block {
  display: flex;
  align-items: center;
  margin-left: -21px;
  z-index: 1;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  @media (min-width: $tablet) {
    margin-left: 2px;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop) {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
}

.companions-selection__like-button {
  position: relative;
  padding: 0;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;

  &:hover,
  &:focus {
    background-color: $blueLight5;
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    display: block;
    width: 10px;
    height: 10px;
    background-image: url("../img/icons/icon-heart.svg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    width: 50px;
    height: 50px;

    &::before {
      top: calc(50% - 10px);
      left: calc(50% - 10px);
      width: 20px;
      height: 20px;
    }
  }
}

.companions-selection__like-button--checked {
  background-color: $specialPink3;

  &:hover,
  &:focus {
    background-color: $specialPink4;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    background-image: url("../img/icons/icon-heart-red.svg");
  }
}

.companions-selection__likes-num {
  margin-left: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basicBlue;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.companions-selection__hashtags-list {
  margin: 11px 0 23px 25px;
  padding-right: 65px;
  font-size: 15px;
  line-height: 18px;
  grid-column: 1 / 4;
  grid-row: 3 / 4;

  @media (min-width: $tablet) {
    margin: 0 0 23px 3px;
    padding-right: 20px;
    font-size: 20px;
    line-height: 23px;
    grid-column: 3 / 5;
    grid-row: 2 / 3;
  }

  @media (min-width: $desktop) {
    margin: 0 0 25px 8px;
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }
}

.companions-selection__card-section-title {
  margin: 0;
  padding: 0 12px;
  display: block;
  position: absolute;
  width: fit-content;
  background-color: $white;
  font-family: $bloggerSans;
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  text-transform: lowercase;
  color: $specialGrey;
}

.companions-selection__profile-extra .companions-selection__card-section-title {
  @media (min-width: $tablet) {
    display: none;
  }
}

.companions-selection__countries {
  position: relative;
  border-top: 1px solid $basicGrey;
  grid-column: 1 / 4;
  grid-row: 4 / 5;

  @media (min-width: $tablet) {
    margin-top: 31px;
    grid-column: 1 / 6;
  }

  @media (min-width: $desktop) {
    margin: 0;
    border: none;
    grid-column: 6 / 7;
    grid-row: 2 / 4;
  }
}

.companions-selection__countries-title {
  top: -10px;
  left: 14px;

  @media (min-width: $tablet) {
    left: 71px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.companions-selection__countries-list {
  padding-top: 26px;
  padding-left: 25px;
  padding-bottom: 22px;

  @media (min-width: $tablet) {
    padding: 26px 0 22px 35px;
    display: flex;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop) {
    margin-left: 6px;
    padding: 6px 0 0 0;
    width: 205px;
    flex-direction: column;
  }
}

.companions-selection__countries-list--smaller {
  padding-bottom: 18px;
}

.companions-selection__countries-list--larger {
  padding-bottom: 25px;
}

.companions-selection__countries-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 27px;
    }
  }

  @media (min-width: $desktop) {
    &:not(:last-child) {
      margin-bottom: 12px;
      margin-right: 0;
    }
  }
}

.companions-selection__countries-item p {
  margin: 0;
  padding-left: 14px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop) {
    padding-left: 18px;
  }
}

.companions-selection__countries-item img {
  @media (min-width: $tablet) {
    width: 35px;
    height: 24px;
  }
}

.companions-selection__profile-extra {
  margin-bottom: 10px;
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $basicGrey;
  grid-column: 1 / 4;
  grid-row: 5 / 6;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 25px;
    padding: 0;
    border: none;
    flex-direction: column;
    grid-column: 6 / 7;
    grid-row: 1 / 4;
  }

  @media (min-width: $desktop) {
    margin-right: 40px;
    flex-direction: row;
    grid-column: 6 / 7;
    grid-row: 4 / 5;
  }
}

.companions-selection__profile-extra--smaller {
  margin-bottom: 0;
}

.companions-selection__transport-section {
  position: relative;
}

.companions-selection__transport-title {
  top: -35px;
  left: 14px;
}

.companions-selection__transport-list {
  margin-left: 21px;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $tablet) {
    margin-left: 0;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    margin-right: 44px;
    flex-direction: row;
  }
}

.companions-selection__transport-item {
  margin-right: 1px;
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $specialGrey6;

  & span:first-child {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 17px;
  }

  @media (min-width: $tablet) {
    background-color: transparent;

    & span:first-child {
      background-size: 22px;
    }
  }
}

.companions-selection__transport-plane {
  background-image: url("../img/icons/icon-plane.svg");
}

.companions-selection__transport-bus {
  background-image: url("../img/icons/icon-bus.svg");
}

.companions-selection__transport-bike {
  background-image: url("../img/icons/icon-bike.svg");
}

.companions-selection__transport-on-foot {
  background-image: url("../img/icons/icon-on-foot.svg");
}

.companions-selection__transport-icon--transparent {
  opacity: 0.3;
}

.companions-selection__level-section {
  position: relative;
  margin-right: 20px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.companions-selection__level-title {
  top: -26px;
  right: -10px;
}

.companions-selection__level-small {
  @media (min-width: $tablet) {
    display: none;
  }
}

.companions-selection__level-large {
  display: none;

  @media (min-width: $tablet) {
    margin-top: 5px;
    display: block;
  }
}

.companions-selection__button-invite {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 230px;
  height: 40px;
  font-weight: bold;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: $basicBlue;
  background-color: $yellow;
  border-radius: 25px;
  grid-column: 1 / 4;
  grid-row: 6 / 7;

  &:hover,
  &:focus {
    background-color: $yellowDark;
  }

  &:active {
    color: fade-out($color: $basicBlue, $amount: 0.7);
  }

  @media (min-width: $tablet) {
    padding-top: 16px;
    padding-bottom: 15px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  @media (min-width: $desktop) {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
  }
}

.companions-selection__button-more-wrapper {
  margin-top: 16px;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    margin-top: 57px;
  }

  @media (min-width: $desktop) {
    margin-top: 64px;
  }
}

.companions-selection__button-more {
  padding-left: 27px;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: $basicBlue;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &:focus {
    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &::before {
    display: block;
    content: "";
    position: absolute;
    left: -5px;
    width: 18px;
    height: 18px;
    background-image: url("../img/icons/icon-plus-blue.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @media (min-width: $tablet) {
    padding-left: 40px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      left: -10px;
      width: 26px;
      height: 26px;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 68px;
  }
}

.companions-selection__nav {
  display: flex;
  align-items: center;
  margin: 19px 0;

  @media (min-width: $tablet) {
    margin-top: 55px;
    padding-left: 28px;
    padding-right: 35px;
    height: 100px;
    justify-content: space-between;
    background-color: $white;
    border-radius: 20px;
  }

  @media (min-width: $desktop) {
    margin-top: 74px;
    padding-right: 40px;
  }
}

.companions-selection__nav-pages-list {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }
}

.companions-selection__nav-page-link {
  @media (min-width: $tablet) {
    display: block;
    padding-top: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.6;
    }
  }
}

.companions-selection__nav-page-link--current {
  background-color: $yellow;
}

.companions-selection__nav-arrows-list {
  display: flex;
  margin: 0 auto;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.companions-selection__nav-arrow-item:first-child {
  margin-right: 1px;

  @media (min-width: $tablet) {
    margin-right: 30px;
  }
}

.companions-selection__nav-arrow {
  position: relative;
  display: block;
  height: 51px;
  width: 134px;
  background-color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    &::before {
      opacity: 0.6;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../img/icons/icon-page-arrows-left.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    width: 13px;
    height: 20px;
  }
}

.companions-selection__nav-arrow-left {
  margin-right: 1px;
  border-radius: 20px 0 0 20px;
}

.companions-selection__nav-arrow-right {
  border-radius: 0 20px 20px 0;

  &::before {
    transform: rotate(180deg);
  }
}
