.companion-filter {
  padding-top: 74px;
  padding-bottom: 28px;

  @media (min-width: $tablet) {
    padding-top: 180px;
  }
}

.companion-filter__wrapper {
  padding: 20px;
  background-color: $yellow;
  border-radius: 20px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 37px 35px;
  }
}

.companion-filter__heading {
  margin-top: 0;
  margin-bottom: 38px;
  padding-left: 5px;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;

  @media (min-width: $tablet) {
    padding-left: 0;
    font-size: 30px;
    line-height: 30px;
  }
}

.companion-filter__form-wrapper {
  padding: 23px 5px 23px 5px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-bottom: 36px;
    padding: 34px 0 37px 0;
    border-top: 1px solid $yellowDark2;
    border-bottom: 1px solid $yellowDark2;
  }
}

.companion-filter__fieldset-wrapper {
  padding: 12px 0;
  border-top: 1px solid $yellowDark2;

  @media (min-width: $tablet) and (max-width: $desktop) {
    border: none;
  }
}

.companion-filter__section {
  padding: 0;
  margin: 0;
  position: relative;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  @media (min-width: $tablet) and (max-width: $desktop) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.companion-filter__section-label {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  color: $blueLight;

  & span {
    display: none;
  }

  @media (min-width: $tablet) {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    & span {
      display: inline-block;
    }
  }
}

.companion-filter__filter-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;

  &--hide {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    flex-direction: row;
  }
}

.companion-filter__filter-item {
  margin-bottom: 12px;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-bottom: 0;

    &:not(:last-child) {
      width: 170px;
    }

    &:last-child {
      width: 150px;
    }
  }
}

.companion-filter__checkbox {
  position: relative;
  left: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  cursor: pointer;

  &::before {
    position: absolute;
    left: -25px;
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    cursor: pointer;
    vertical-align: middle;
    background-color: $white;
    border-radius: 4px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    left: 36px;
    font-size: 20px;
    line-height: 20px;

    &::before {
      top: -1px;
      left: -36px;
      width: 24px;
      height: 24px;
    }
  }
}

.companion-filter__checkbox-input:checked + .companion-filter__checkbox::before {
  background-image: url("../img/icon-check-mark.svg");
}

.companion-filter__transport {
  @media (min-width: $tablet) and (max-width: $desktop) {
    justify-content: flex-start;
  }
}

.companion-filter__transport-list {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-left: 18px;
  }
}

.companion-filter__transport-item {
  margin-right: 2px;
}

.companion-filter__transport-icon {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $white;

  & span:first-child {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 17px;
    opacity: 0.3;
  }
}

.companion-filter__transport-icon-plane {
  background-image: url("../img/icon-plane.svg");
}

.companion-filter__transport-icon-bus {
  background-image: url("../img/icon-bus.svg");
}

.companion-filter__transport-icon-bike {
  background-image: url("../img/icon-bike.svg");
}

.companion-filter__transport-icon-on-foot {
  background-image: url("../img/icon-on-foot.svg");
}

.companion-filter__transport-checkbox:checked + .companion-filter__transport-icon span:first-child {
  opacity: 1;
}

.companion-filter__show-hide-button {
  display: block;
  padding: 0;
  position: absolute;
  right: 0;
  top: 5px;
  border: none;
  width: 11px;
  height: 7px;
  background: transparent;
  background-image: url("../../img/icon-triangle-down.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;

  &--hide {
    transform: rotate(180deg);
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    display: none;
  }
}

.companion-filter__level-input-section {
  margin-bottom: 25px;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  background-color: $white;
  // border: 1px solid $specialGrey4;
  border-radius: 4px;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 8.5px);
    display: block;
    width: 16px;
    height: 9px;
    background-color: $specialGrey4;
    border-top: 4px solid $white;
    border-bottom: 4px solid $white;
  }

  @media (min-width: $tablet) and (max-width: $desktop) {
    margin-bottom: 0;
    order: 3;
  }
}

.companion-filter__level-input {
  padding: 10px;
  position: relative;
  outline: none;
  width: 100%;
  border: 1px solid $specialGrey4;
  text-align: center;
  font-family: $bloggerSans;
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.06em;
  color: $blueLight;

  @media (min-width: $tablet) {
    width: 74px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }
}

.companion-filter__level-input-min {
  border-radius: 4px 0 0 4px;
}

.companion-filter__level-input-max {
  border-radius: 0 4px 4px 0;
  border-left: none;
}

.companion-filter__level-scale {
  position: relative;
  width: 220px;
  height: 2px;
  background-color: $blueLightFaded02;

  @media (min-width: $tablet) and (max-width: $desktop) {
    order: 2;
  }
}

.companion-filter__level-scale-chosen {
  position: relative;
  left: 80px;
  width: 138px;
  height: 2px;
  background-color: $blueLight;
}

.companion-filter__level-scale-min,
.companion-filter__level-scale-max {
  position: absolute;
  top: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $blueLight;
}

.companion-filter__level-scale-max {
  right: 0;
}

.companion-filter__button-submit {
  padding: 13px 0;
  width: 100%;
  border: none;
  border-radius: 25px;
  background-color: $white;
  font-family: $bloggerSans;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) and (max-width: $desktop) {
    padding: 18px 0;
    font-size: 20px;
    line-height: 20px;
  }
}
