.extra-info__country-list {
  @media (min-width: $tablet) {
    padding-top: 23px;
    padding-right: 32px;
    border-top: 1px solid $specialGrey2;
  }

  @media (min-width: $desktop) {
    padding-top: 75px;
    padding-right: 116px;
  }
}

.extra-info__country-item {
  margin-bottom: 23px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -3px;
    display: block;
    width: 6px;
    height: 6px;
    background-color: $blueLight;
    border-radius: 50%;
  }

  &:first-child::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -15px;
    display: block;
    width: 15px;
    height: 283px;
    border-top: 2px solid $blueLight;
    border-left: 2px solid $blueLight;
    border-bottom: 2px solid $blueLight;
  }

  @media (min-width: $tablet) {
    padding-left: 5px;
    margin-bottom: 40px;

    & img {
      width: 70px;
      height: 47px;
    }

    &::before {
      top: 19px;
      left: auto;
      right: -33px;
      width: 14px;
      height: 14px;
    }

    &:first-child::after {
      top: 20px;
      left: auto;
      right: -39px;
      height: 260px;
      border-top: none;
      border-bottom: none;
      border-left: 3px solid $blueLight;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    margin-bottom: 48px;

    &::before {
      top: 14px;
      right: 101px;
    }

    &:first-child::after {
      right: 94px;
      height: 265px;
    }
  }
}

.extra-info__second-country-item {
  @media (min-width: $tablet) {
    margin-bottom: 47px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 55px;
  }
}

.extra-info__input-field-wrapper {
  margin: 14px 0 0 0;
  position: relative;
  border-radius: 4px;
  width: 100%;
  height: 220px;

  &::before {
    content: "Это поле должно быть заполнено";
    position: absolute;
    bottom: 0;
    display: none;
    width: 100%;
    padding-top: 19px;
    padding-left: 21px;
    padding-bottom: 15px;
    background-color: $specialPink6;
    color: $red;
    font-family: inherit;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
  }

  @media (min-width: $tablet) {
    margin: 30px 0 0 0;
    height: 143px;
  }

  @media (min-width: $desktop) {
    margin-top: 25px;
    width: 730px;
    height: 142px;
  }
}

.extra-info__input-field-wrapper--error {
  &::before {
    display: block;
  }
}

.extra-info__input-field {
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  position: relative;
  box-sizing: border-box;
  outline: none;
  border: 1px solid $specialGrey4;
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: inherit;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: fade-out($color: $specialGrey, $amount: 0.7);

  &:hover {
    border: 1px solid $specialGrey11;
  }

  &:focus {
    color: $specialGrey;
    border: 1px solid $basicBlue;
  }

  @media (min-width: $tablet) {
    padding: 15px 18px;
    font-size: 20px;
    line-height: 23px;
  }

  @media (min-width: $desktop) {
    padding: 22px 10px 22px 25px;
  }
}

.extra-info__input-field--active {
  color: $specialGrey;
  border: 1px solid $basicBlue;

  &:hover {
    border: 1px solid $basicBlue;
  }
}

.extra-info__input-field--error {
  padding-bottom: 56px;
  border: 1px solid $specialPink5;

  &:hover {
    border: 1px solid $specialPink5;
  }

  &:focus {
    border: 1px solid $specialPink5;
  }
}

.extra-info__label {
  padding-top: 2px;
  padding-bottom: 3px;
  padding-left: 10px;
  display: block;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.03em;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset -10px 0 5px $white;
  }

  @media (min-width: $tablet) {
    padding-top: 7px;
    padding-left: 0;
    width: 350px;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: normal;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}
