.extra-info__input-field {
  margin: 0;
  padding: 11px 14px;
  box-sizing: border-box;
  resize: none;
  width: 220px;
  height: 220px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $specialGrey;
}
