.form-profile {
  position: relative;
  padding-top: 24px;
  padding-bottom: 34px;

  @media (min-width: $tablet) {
    padding-top: 66px;
  }

  @media (min-width: $desktop) {
    z-index: 2;
    margin-top: -254px;
  }
}

.form-profile__layout {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto;
}

.form-profile__level {
  margin-left: 17px;
  width: 100px;
  height: 100px;

  @media (min-width: $tablet) {
    margin-left: 0;
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 3;
    margin-top: 42px;
    margin-left: 100px;
    width: 95px;
    height: 95px;
  }
}

.form-profile__level-number,
.form-profile__level-number-sign {
  @media (min-width: $desktop) {
    fill: $white;
  }
}

.form-profile__level-number-underline {
  @media (min-width: $desktop) {
    stroke: $white;
  }
}

.form-profile__photo,
.form-profile__picture {
  grid-column: 3 / 4;
  margin-right: 17px;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  @media (min-width: $tablet) {
    margin-right: 0;
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  @media (min-width: $desktop) {
    margin-right: 95px;
    width: 190px;
    height: 190px;
    border-radius: 15px 15px 0 0;
  }
}

.form-profile__change-photo-button {
  grid-column: 1 / 4;
  margin-top: 18px;
  margin-bottom: 12px;
  padding-top: 10px;
  padding-bottom: 5px;
  display: block;
  height: 40px;
  background-color: $blueLight3;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  color: $basicBlue;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    background-color: $blueLight7;
  }

  &:active {
    color: fade-out($color: $basicBlue, $amount: 0.5);
    opacity: 0.7;
  }

  @media (min-width: $tablet) {
    margin-top: 50px;
    margin-bottom: 52px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 60px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 25px;
    margin-right: 95px;
    padding-top: 11px;
    padding-bottom: 5px;
    height: 47px;
    border-radius: 0 0 15px 15px;
    grid-column: 3 / 4;
  }
}

.form-profile__change-photo-first {
  @media (min-width: $desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
  }
}

.form-profile__hashtags {
  grid-column: 1 / 4;
  padding-top: 20px;
  position: relative;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 20px;
  }

  @media (min-width: $desktop) {
    grid-column: 1 / 2;
    margin-left: 63px;
    width: 732px;
  }
}

.form-profile__hashtags-input {
  margin-bottom: 6px;
  padding: 25px;
  width: 100%;
  height: 89px;
  resize: none;
  background-color: transparent;
  outline: none;
  border: 1px solid $specialGrey4;
  color: $specialGrey;
  border-radius: 8px;
  font-family: $bloggerSans;
  font-size: 16px;
  line-height: 18px;
  opacity: 0.6;

  &:hover {
    border: 1px solid $specialGrey14;
    opacity: 0.7;
  }

  &:focus {
    border: 1px solid $specialGrey;
    opacity: 1;
  }

  @media (min-width: $tablet) {
    padding: 35px 40px;
    height: 95px;
    font-size: 20px;
    line-height: 22px;
  }
}

.form-profile__hashtags-heading {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  background-color: $basicGrey;
  top: 10px;
  left: calc(50% - 27px);
  z-index: 1;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $blueLight;

  @media (min-width: $tablet) {
    top: 84px;
    left: calc(50% - 35px);
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $desktop) {
    left: 30px;
  }
}

.form-profile__transport {
  grid-column: 1 / 4;
  padding-top: 20px;
  position: relative;

  @media (min-width: $tablet) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 0 60px;
    padding-top: 0;
  }

  @media (min-width: $desktop) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    margin-right: 0;
  }
}

.form-profile__transport-heading {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: inline;
  position: absolute;
  background-color: $basicGrey;
  top: 10px;
  left: calc(50% - 51px);
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: $blueLight;

  @media (min-width: $tablet) {
    top: 83px;
    left: calc(50% - 67px);
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.09em;
  }

  @media (min-width: $desktop) {
    left: calc(50% - 25px);
  }
}

.form-profile__transport-list {
  padding-top: 15px;
  padding-bottom: 14px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid $specialGrey4;
  border-radius: 8px;

  @media (min-width: $tablet) {
    padding: 24px 15px;
  }

  @media (min-width: $desktop) {
    margin-left: 80px;
  }
}

.form-profile li {
  display: block;
  width: 32px;
  height: 32px;

  @media (min-width: $tablet) {
    width: 44px;
    height: 44px;
  }
}
