.my-plans {
  background-color: $blueLight3;
  padding-top: 25px;
  padding-bottom: 65px;
  border-radius: 30px 30px 0 0;
}

.my-plans__heading {
  margin: 0;
  padding-bottom: 29px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $blueLight;

  @media (min-width: $tablet) {
    padding-bottom: 48px;
    font-size: 36px;
    line-height: 36px;
  }
}

.my-plans__list {
  padding: 0;
  margin: 0;
  counter-reset: myCounter;
}

.my-plans__item {
  padding: 25px;
  list-style: none;
  background-color: $white;
  border-radius: 10px;

  &:first-child {
    margin-bottom: 10px;
  }
}

.my-plans__destination {
  position: relative;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;

  &::before {
    position: absolute;
    left: 0;
    display: inline-block;
    counter-increment: myCounter;
    content: counter(myCounter) ".";
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
  }

  @media (min-width: $tablet) {
    padding-left: 0;
    font-size: 24px;
    line-height: 24px;

    &::before {
      left: auto;
      right: 0;
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.my-plans__trip-info p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.my-plans__trip-dates {
  padding-bottom: 15px;
}

.my-plans__change-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black;
  opacity: 0.3;
}
