.page-header {
  height: 73px;
  background-color: $basicBlue;

  @media (min-width: $tablet) {
    height: 132px;
  }

  @media (min-width: $desktop) {
    height: 106px;
  }
}

.page-header--light {
  @media (min-width: $tablet) and (max-width: 1439px) {
    background-color: $basicBlue2;
  }
}

.page-header__navigation {
  padding-top: 19px;
  padding-bottom: 30px;
  width: 100%;
  position: fixed;
  z-index: 4;
  background-color: transparent;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 46px;
    padding-bottom: 6px;
    display: flex;
  }
}

.page-header__navigation--opened {
  padding-top: 27px;
  background-color: $white;

  @media (min-width: $tablet) {
    padding-top: 40px;
  }
}

.page-header__navigation--scrolled {
  padding-top: 27px;
  background-color: $white;

  @media (min-width: $tablet) {
    padding-top: 40px;
  }

  @media (min-width: $desktop) {
    padding-top: 19px;
    padding-bottom: 19px;
  }
}

.page-header__navigation-wrapper {
  position: relative;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
  }
}

.page-header__logo {
  display: block;
  height: auto;
  width: fit-content;
}

.page-header__menu-button {
  position: absolute;
  top: -5px;
  right: 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
  cursor: pointer;

  &::before {
    content: "";
    position: relative;
    top: 7px;
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    background-color: $specialGrey7;
    box-shadow: 0 8px 0 0 $specialGrey7;
  }

  @media (min-width: $tablet) {
    top: 9px;
    right: calc(50% - 12.5px);
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__menu-button--opened {
  &::before,
  &::after {
    content: "";
    position: relative;
    top: 11px;
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: $specialGrey7;
    box-shadow: none;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    top: 8px;
    transform: rotate(-45deg);
  }
}

.page-header__nav-list {
  margin-top: 68px;
  margin-bottom: 55px;
  display: block;

  @media (min-width: $tablet) {
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 135px;
    padding-left: 56px;
    width: 688px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;

    &::before {
      margin-right: 45px;
      content: "";
      position: relative;
      top: 2px;
      left: 0;
      display: block;
      width: 60px;
      height: 2px;
      background-color: $white;
    }
  }
}

.page-header__nav-list--closed {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
  }
}

.page-header__nav-list--scrolled {
  @media (min-width: $desktop) {
    &::before {
      background-color: $blueDark2;
    }
  }
}

.page-header__nav-item {
  text-align: center;

  @media (min-width: $tablet) {
    text-align: left;
  }

  @media (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 37px;
    }
  }
}

.page-header__nav-link {
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: $blueDark2;

  @media (min-width: $tablet) {
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.03em;
  }

  @media (min-width: $desktop) {
    color: $white;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.01em;
  }
}

.page-header__nav-list--scrolled .page-header__nav-link {
  @media (min-width: $desktop) {
    color: $blueDark2;
  }
}

.page-header__auth-list {
  margin-left: auto;
  margin-right: auto;
  width: 270px;

  @media (min-width: $tablet) {
    padding-left: 57px;
    width: 688px;
  }

  @media (min-width: $desktop) {
    margin: 2px 0 0 0;
    padding-left: 0;
    display: flex;
    width: auto;
  }
}

.page-header__auth-item {
  @media (min-width: $desktop) {
    &:nth-child(1) {
      order: 3;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 2;
    }
  }
}

.page-header__auth-item--closed {
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.page-header__login {
  display: block;
  padding-top: 15px;
  color: $basicBlue;
  background-color: $yellow;
  width: 100%;
  height: 50px;
  border-radius: 25px;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $yellowDark;
  }

  &:active {
    color: $basicBlueTransparent03;
  }

  @media (min-width: $tablet) {
    padding-top: 14px;
    font-size: 20px;
    line-height: 20px;
  }
}

.page-header__login-item {
  margin-bottom: 51px;
  width: 270px;
  height: 50px;

  @media (min-width: $tablet) {
    margin: 0;
    display: block;
    position: absolute;
    top: -5px;
    right: 40px;
    width: 188px;
  }

  @media (min-width: $desktop) {
    position: inherit;
    top: auto;
    left: auto;
  }
}

.page-header__contact-item {
  position: relative;
  padding-top: 13px;
  height: 45px;

  @media (min-width: $tablet) {
    padding-top: 18px;
    height: 68px;
  }

  @media (min-width: $desktop) {
    width: 50px;
    height: 50px;
  }
}

.page-header__contact-link {
  margin-left: 61px;
  font-weight: 700;
  line-height: 18px;
  color: $blueDark2;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-left: 91px;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.page-header__phone,
.page-header__email {
  display: block;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &::before {
    background-color: $blueDark;
  }

  &::after {
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    &::before,
    &::after {
      top: -3px;
      width: 68px;
      height: 68px;
    }
  }

  @media (min-width: $desktop) {
    &::before,
    &::after {
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
    }
  }
}

.page-header__phone {
  &::after {
    background-image: url("../img/icons/icon-call-yellow.svg");
    background-size: 18px;
  }

  &:hover::after {
    background-image: url("../img/icons/icon-call-orange.svg");
  }

  &:focus::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    &::after {
      background-size: 25px;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      background-color: $orange;
    }

    &::after {
      background-image: url("../img/icons/icon-call-darkblue.svg");
      background-size: 18px;
    }

    &:hover::before {
      background-color: $orangeDark;
    }

    &:hover::after {
      background-image: url("../img/icons/icon-call-darkblue.svg");
    }
  }
}

.page-header__email {
  &::after {
    background-image: url("../img/icons/icon-mail-yellow.svg");
    background-size: 25px;
  }

  &:hover::after {
    background-image: url("../img/icons/icon-mail-orange.svg");
  }

  &:focus::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    &::after {
      background-size: 34px;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      background-color: $yellowDark;
    }

    &::after {
      background-image: url("../img/icons/icon-mail-darkblue.svg");
      background-size: 18px;
    }

    &:hover::before {
      background-color: $orange;
    }

    &:hover::after {
      background-image: url("../img/icons/icon-mail-darkblue.svg");
    }
  }
}

.page-header__auth-text {
  @media (min-width: $desktop) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    overflow: hidden;
  }
}

.page-header__socials-list {
  margin-top: 41px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

  &--closed {
    display: none;
  }

  @media (min-width: $tablet) {
    margin-top: 125px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 75px;
    width: 688px;
    justify-content: left;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-header__socials-item {
  &:not(:last-child) {
    margin-right: 20px;

    @media (min-width: $tablet) {
      margin-right: 30px;
    }
  }
}

.page-header__socials-link {
  display: block;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background-position: 50% 50%;
  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    width: 31px;
    height: 31px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__socials-facebook {
  background-image: url("../img/icons/icon-facebook.svg");
  background-size: 11px 21px;

  @media (min-width: $tablet) {
    background-size: 14px 28px;
  }
}

.page-header__socials-vkontakte {
  background-image: url("../img/icons/icon-vkontakte.svg");
  background-size: 23px 12px;

  @media (min-width: $tablet) {
    background-size: 31px 16px;
  }
}

.page-header__socials-instagram {
  background-image: url("../img/icons/icon-instagram.svg");
  background-size: 18px;
  opacity: 0.5;

  @media (min-width: $tablet) {
    background-size: 24px 24px;
    opacity: 1;
  }
}

.page-header__auth-item.page-header__login-item {
  @media (min-width: $tablet) {
    display: block;
  }
}
