.page-main__header-wrapper {
  position: relative;

  &--form {
    background-color: $basicGrey;
  }

  &--catalog {
    background-color: $blueLight5;
  }
}

.page-main__header {
  position: relative;
  background-color: $basicBlue;
  border-radius: 0 0 20px 20px;
}

.page-main__page-title {
  padding-bottom: 12px;
  margin: 0;
  color: $white;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet) {
    padding-top: 92px;
    padding-bottom: 64px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    padding-top: 134px;
  }
}

.page-main__catalog-link {
  display: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;

  &::after {
    content: "";
    position: relative;
    display: block;
    width: 32px;
    height: 16px;
    background-image: url("../img/icon-arrow-bend.svg");
    background-repeat: no-repeat;
  }
}

.page-main__orange-line {
  position: absolute;
  top: 45px;
  width: 214px;
  height: 5px;
  z-index: 1;
  background-color: $orange;
  border-radius: 4px;

  @media (min-width: $tablet) {
    top: 214px;
    width: 358px;
  }

  @media (min-width: $desktop) {
    top: 255px;
  }
}
