.signup {
  background-color: $yellow;
}

.signup__section {
  padding-top: 72px;
  padding-bottom: 40px;
  background-color: $blueDark2;
  border-radius: 0 0 30px 30px;

  @media (min-width: $tablet) {
    padding-bottom: 79px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: $desktop) {
    padding-top: 109px;
    padding-bottom: 135px;
  }
}

.signup__wrapper {
  @media (min-width: $desktop) {
    padding-left: 58px;
    padding-right: 58px;
  }
}

.signup__heading {
  margin-top: 0;
  margin-bottom: 19px;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  color: $orange;
  text-align: center;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.signup__paragraph-one,
.signup__paragraph-two,
.signup__paragraph-three {
  margin: 0;
  color: $white;
  line-height: 22px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 32px;
  }
}

.signup__paragraph-one span,
.signup__paragraph-two span,
.signup__paragraph-three span {
  display: block;

  @media (min-width: $tablet) {
    display: inline;
  }
}

.signup__paragraph-one {
  @media (min-width: $tablet) {
    padding-right: 18px;
  }

  @media (min-width: $desktop) {
    padding-right: 0;
  }
}

.signup__paragraph-two {
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-bottom: 69px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 60px;
    padding-left: 20px;
  }
}

.signup__paragraph-three {
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 64px;
    padding-left: 3px;
    line-height: 30px;
    letter-spacing: 0.01em;
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
  }
}

.signup__login {
  color: $yellow;

  &:hover,
  &:focus {
    color: $orange;
  }

  &:active {
    opacity: 0.3;
  }
}

.signup__form {
  margin-bottom: 29px;
  position: relative;

  @media (min-width: $tablet) {
    margin-bottom: 58px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 70px;
  }
}

.signup__email {
  padding-top: 22px;
  padding-left: 25px;
  padding-bottom: 22px;
  padding-right: 85px;
  width: 100%;
  height: 62px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  &::placeholder {
    opacity: 0.3;
  }

  &:hover::placeholder {
    opacity: 0.5;
  }

  &:focus {
    border: 3px solid $white;
    background-color: $blueDark2;
    color: $white;

    &::placeholder {
      opacity: 0.5;
    }
  }

  @media (min-width: $tablet) {
    padding-top: 28px;
    padding-left: 36px;
    padding-bottom: 28px;
    height: 80px;
    border-radius: 20px;
    font-size: 24px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    padding-right: 361px;
  }
}

.signup__button {
  position: absolute;
  right: 0;
  padding: 0;
  border: none;
  width: 60px;
  min-height: 62px;
  background-color: $yellow;
  border-radius: 10px;

  &::before {
    content: url("../img/icons/icon-triangle-blue.svg");
    position: absolute;
    top: 24px;
    right: 22px;
  }

  &:hover,
  &:focus {
    background-color: $yellowDark;
  }

  &:active span,
  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    width: 80px;
    min-height: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &::before {
      top: 33px;
      right: 33px;
    }
  }

  @media (min-width: $desktop) {
    width: 325px;

    &::before {
      right: 34px;
    }
  }
}

.signup__button-text {
  display: none;

  @media (min-width: $desktop) {
    padding-left: 37px;
    display: block;
    text-align: left;
    font-family: $bloggerSans;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: $blueLight;
  }
}

.signup__contacts-list {
  @media (min-width: $desktop) {
    padding-left: 150px;
    padding-right: 150px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.signup__contacts-item:first-child {
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    margin-bottom: 39px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.signup__contacts-phone,
.signup__contacts-email {
  margin-left: 60px;
  position: relative;
  color: $yellow;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -60px;
    display: block;
    width: 45px;
    height: 45px;
    border-radius: 50%;
  }

  &::before {
    background-color: $blueDark;
  }

  &::after {
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    margin-left: 90px;
    font-size: 28px;
    line-height: 28px;

    &::before,
    &::after {
      top: -18px;
      left: -90px;
      width: 68px;
      height: 68px;
    }
  }

  @media (min-width: $desktop) {
    margin-left: 121px;

    &::before,
    &::after {
      top: -30px;
      left: -121px;
      width: 90px;
      height: 90px;
    }
  }
}

.signup__contacts-phone {
  margin-bottom: 23px;

  &::after {
    background-image: url("../img/icons/icon-call-yellow.svg");
    background-size: 18px;
  }

  &:hover,
  &:focus {
    color: $yellowDark;

    &::after {
      background-image: url("../img/icons/icon-call-orange.svg");
    }
  }

  &:active {
    color: $yellowTransparent03;

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    &::after {
      background-size: 27px;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;

    &::after {
      background-size: 36px;
    }
  }
}

.signup__contacts-email {
  &::after {
    background-image: url("../img/icons/icon-mail-yellow.svg");
    background-size: 25px;
  }

  &:hover,
  &:focus {
    color: $yellowDark;

    &::after {
      background-image: url("../img/icons/icon-mail-orange.svg");
    }
  }

  &:active {
    color: $yellowTransparent03;

    &::after {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    &::after {
      background-size: 34px;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      background-size: 47px;
    }
  }
}
