.travel-by {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.travel-by__item {
  width: 26px;
  height: 26px;
  display: block;
  background-repeat: no-repeat;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &--faded {
    opacity: 0.3;
  }
}

.travel-by__plane {
  background-image: url("../img/icon-plane.svg");
}

.travel-by__public-transport {
  background-image: url("../img/icon-bus.svg");
}

.travel-by__bike {
  background-image: url("../img/icon-bike.svg");
}

.travel-by__on-foot {
  background-image: url("../img/icon-on-foot.svg");
}
